<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.patterndesignserver.mapper.member.UserMapper">
    <!-- 根据uid查询一个用户信息 -->
    <select id="selectUserById" parameterType="Integer"
            resultType="com.project.patterndesignserver.model.member.User">
        select * from user where id = #{id}
    </select>
    <!-- 查询所有用户信息 -->
    <select id="selectAllUser" resultType="com.project.patterndesignserver.model.member.User">
        select * from user
    </select>
    <!-- 添加一个用户，#{uname}为 com.mybatis.po.MyUser 的属性值 -->
    <insert id="addUser" parameterType="com.project.patterndesignserver.model.member.User">
        INSERT INTO user(id,username,email,password,mobile,enabled,createTime,lastModify)
            VALUES(#{id},#{username},#{email},#{password},#{mobile},#{enabled},#{createTime},#{lastModify})
    </insert>
    <!--修改一个用户 -->
    <update id="updateUser" parameterType="com.project.patterndesignserver.model.member.User">
        update user set username =
                            #{username},password = #{password} where id = #{id}
    </update>
    <!-- 删除一个用户 -->
    <delete id="deleteUser" parameterType="Long">
        delete from user where id
                                   = #{id}
    </delete>
</mapper>